{% comment %} sections must be in reverse alphabetical order {% endcomment %}
{% assign sections = "Treaties|Ranks|Quests|Laws|Lands|Enlistment" | split: "|" %}

<!doctype html>
<html>

<head>

<title>Lion Warden{% if page.title != "Lion Warden" %} : {{ page.title }}{% endif %}</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="utf-8">
<meta name="description" content="{{ site.description }}">

<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">

<style>
ul.posts li {
	display: inline;
}
</style>

</head>

<body>

<div class="container">
	<div class="container navbar-fixed-top" style="background: white;">
		<ul class="nav nav-tabs">
			<li{% if page.title == "Lion Warden" %} class="active"{% endif %}><a href="{{ site.baseurl }}/"><strong>Lion Warden</strong></a></li>
			{% for section in sections %}
				<li{% if page.category == section %} class="active pull-right"{% else %} class="pull-right"{% endif %}><a href="{{ site.baseurl}}/{{ section | downcase }}">{{ section | capitalize }}</a></li>
			{% endfor %}
		</ul>
	</div>
		
	<div class="container" style="padding: 40px 20px;">
		<h1>{{ page.title }}</h1>
	